<div id="<%= dom_id friend %>">
    <div>
      <tr>
      <th scope="row"> <%= friend.first_name %></th>
      <td><%= friend.last_name %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
      <td><%= friend.user_id %></td>
      <td> <h6>
      <%= link_to "Show", friend %>
    </h6></td>
    </tr>
    </div>

</div>



